@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        background-image: url('/Img/desc.jpg');
        background-repeat: no-repeat;
       background-size: cover;
    }
</style>
<body>
   
</body>

